---
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  /** wrapper classes to set the variant's base bg/text/font */
  bodyClass?: string;
}

const { title, description, bodyClass = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <div class:list={['min-h-screen', bodyClass]}>
      <slot />
    </div>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "1f00855df001483695bf5ea2aab1273c"}'></script>
  </body>
</html>
